<div class="jumbotron">
<h1><i class="fa fa-circle-o-notch"></i> geThingsDone</h1>
<p>This is a smart to do list Ruby on Rails Application</p>
<%= link_to "Sign Up", "#", class: "btn btn-primary btn-lg" %>
</div>
